
.card {
  min-height: 20rem;
  width: 15rem;
  margin: 10px;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  background-color: white;
}

img{
    object-fit: contain;
    border-radius: 10%;
}

.detail{
    display: flex;
    flex-wrap: wrap;
}

.variety{
    font-size: medium;
    font-weight: 580;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.key{
    font-weight: 500;
    margin-right: 10px;
}

